@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        This is my shell. Also serve as homepage. 
        The time is @{ @DateTime.Now.ToLongTimeString(); } now.
    </div>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
</div>